body {
    font-size: 20px;
    color: rgb(82, 8, 85);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(199, 177, 103);
    line-height: 30px;
    font-weight: bolder;

    
    margin: 0;
    padding: 0;
    border: solid rgb(82, 8, 85) 2px;
    border-top: solid black;
    border-bottom: solid 5px;

}
p::first-letter {
    font-size: 26px;
    color: rgb(204, 86, 155);
}
